# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Uploads (для локальной разработки)
backend/uploads/
backend/data/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
backend/dist/
frontend/build/
frontend/dist/
